/*
#27374D rgb(39, 55, 77)
#526D82 rgb(82, 109, 130)
#9DB2BF rgb(157, 178, 191)
#DDE6ED rgb(221, 230, 237)
 */


/* 
font-size: rem;
padding and margin: em;
width : percentage;
 */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background: #DDE6ED;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.prev,
.next {
    display: none;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    color: #000000;
    font-family: "poppins", sans-serif;
    padding: 0.3em 0 0 0;
    font-size: 1.25rem;
    font-weight: 600;
    z-index: 10000;
    position: fixed;
    top: 0;
    transition: top 0.3s ease-in-out;
}

.navbar.hidden {
    top: -200px;
}

.navbar .logo {
    display: flex;
    padding: 0 3em 0 0;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 800;
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase;
}

.navbar img {
    width: 10%;
    padding: 0 1em;
}

.menu-icon {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.Navlist {
    display: flex;
    align-items: center;
}

.navbar ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar ul li {
    margin: 0 1em;
}

.navbar ul li a {
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
    text-transform: capitalize;
}

.navbar b {
    font-size: 4.375rem;
    font-family: "poppins", sans-serif;
    color: #27374D;
}

.navbar ul li a:hover {
    color: #6784ac;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8.6em 10em 10.2em;
    overflow: hidden;
    font-family: "poppins", sans-serif;
}

.home .download {
    color: white;
    z-index: 1000000000;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.cols0 {
    width: 60%;
}

.cols1 {
    width: 40%;
}

.topline {
    padding-top: 6%;
    display: block;
    position: relative;
    font-size: 2rem;
    letter-spacing: 5px;
    color: #869fc0;
}

.topline::after {
    position: absolute;
    content: '';
    height: 4px;
    width: 45px;
    bottom: 10px;
    background-color: #526D82;
}

.home .cols h1 {
    display: block;
    font-size: 4em;
    font-weight: 900;
    z-index: 999999;
}

.multitext {
    color: #27374D;
    text-transform: capitalize;
}

.home .cols p {
    display: block;
    width: 90%;
    font-size: 1.2rem;
    color: #27374D;
    z-index: 99999;
}

.home .cols .btns {
    padding: 30px 0 0 0;
    z-index: 99999;
}

.home .cols1 {
    position: relative;
    padding: 21% 14% 0 0;
}

.layers {
    position: absolute;
    width: 40.6%;
    top: -29.2%;
    left: 36.8%;
    z-index: 11;
}

.layers1 {
    position: absolute;
    bottom: 95.4%;
    width: 12.4%;
    /* Updated width value */
    left: 50.6%;
    /* Updated left value */
    z-index: 12;
    animation: moveUpDown 2s ease-in-out infinite alternate;
}

.layers2 {
    position: absolute;
    bottom: -5.6%;
    left: 83.6%;
    width: 9%;
    /* Updated left value */
    z-index: 1200;
    animation: moveUpDown2 5s ease-in-out infinite alternate;
}

.layers3 {
    position: absolute;
    bottom: 39.4%;
    left: 24.4%;
    width: 9%;
    /* Updated left value */
    z-index: 12;
    animation: moveUpDown3 4s ease-in-out infinite alternate;
}

.layers4 {
    position: absolute;
    bottom: 76.4%;
    left: 31.4%;
    width: 9%;
    /* Updated left value */
    z-index: 12;
    animation: moveUpDown 1s ease-in-out infinite alternate;
}

.layers5 {
    position: absolute;
    bottom: 75.4%;
    left: 72.5%;
    width: 11%;
    /* Updated left value */
    z-index: 12;
    animation: moveUpDown2 4s ease-in-out infinite alternate;
}

.layers6 {
    position: absolute;
    bottom: 36.4%;
    left: 81.6%;
    width: 9%;
    z-index: 12;
    animation: moveUpDown3 2s ease-in-out infinite alternate;
}

.layers7 {
    position: absolute;
    bottom: -4.6%;
    left: 23.2%;
    width: 9%;
    z-index: 12;
    animation: moveUpDown3 2.5s ease-in-out infinite alternate;
}

.blob {
    width: 75%;
    position: absolute;
    bottom: -62.2%;
    left: 22.8%;
    z-index: 1;
    rotate: -64deg;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: rotate(-3deg);
    }
    100% {
        transform: translateY(-5px);
    }
}

@keyframes moveUpDown2 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: rotate(-20deg);
    }
    100% {
        transform: translateY(-25px);
    }
}

@keyframes moveUpDown3 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: rotate(-10deg);
    }
    100% {
        transform: translateY(-22px);
    }
}

.GetInTouch {
    padding: 15px 30px;
    border: 0;
    position: relative;
    overflow: hidden;
    border-radius: 10rem;
    transition: all 0.02s;
    font-weight: bold;
    color: rgb(37, 37, 37);
    z-index: 2;
    box-shadow: 0 0px 7px -5px rgba(0, 0, 0, 0.5);
}

.GetInTouch:hover {
    background: rgb(193, 228, 248);
    box-shadow: rgb(65 87 109) 4px 7px 29px 0px;
    color: rgb(33, 0, 85);
}

.GetInTouch:active {
    transform: scale(0.97);
}

.GetInTouch1 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    margin-right: 10%;
    border: 0;
    position: relative;
    overflow: hidden;
    border-radius: 10rem;
    transition: all 0.02s;
    font-weight: bold;
    color: rgb(37, 37, 37);
    z-index: 2;
    box-shadow: 0 0px 7px -5px rgba(0, 0, 0, 0.5);
}

.GetInTouch1:hover {
    background: rgb(193, 228, 248);
    box-shadow: rgb(65 87 109) 4px 7px 29px 0px;
    color: rgb(33, 0, 85);
}

.GetInTouch1:active {
    transform: scale(0.97);
}

.hoverEffect {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.hoverEffect div {
    background: rgb(39, 55, 77);
    background: linear-gradient(90deg, rgba(39, 55, 77, 1) 0%, rgba(82, 109, 130, 1) 49%, rgba(157, 178, 191, 1) 100%);
    border-radius: 40rem;
    width: 14rem;
    height: 10rem;
    transition: 0.4s;
    filter: blur(20px);
    animation: effect infinite 3s linear;
    opacity: 0.5;
    z-index: 99999999;
}

.hoverEffect1 {
    position: absolute;
    top: 62%;
    left: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.hoverEffect1 div {
    background: rgb(39, 55, 77);
    background: linear-gradient(30deg, rgb(86, 89, 255) 0%, rgba(82, 109, 130, 1) 49%, rgb(40, 125, 190) 100%);
    width: 14rem;
    height: 10rem;
    transition: 0.3s;
    animation: morph 5s linear infinite;
    filter: blur(2px);
    opacity: 0.6;
    rotate: -144deg;
}

.hoverEffect2 {
    position: absolute;
    top: 10%;
    left: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.hoverEffect2 div {
    background: rgb(39, 55, 77);
    background: linear-gradient(90deg, rgb(161, 25, 210) 0%, rgba(82, 109, 130, 1) 49%, rgba(157, 178, 191, 1) 100%);
    border-top-left-radius: 100px 400px;
    border-top-right-radius: 200px 300px;
    border-bottom-right-radius: 300px 200px;
    border-bottom-left-radius: 700px 300px;
    width: 10rem;
    height: 13rem;
    transition: 0.4s;
    filter: blur(2px);
    rotate: -93deg;
    animation: morph 8s linear infinite;
    opacity: 0.6;
}

.hoverEffect3 {
    position: absolute;
    top: 9%;
    left: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.hoverEffect3 div {
    background: rgb(39, 55, 77);
    background: linear-gradient(30deg, rgb(237, 119, 69) 0%, rgba(82, 109, 130, 1) 49%, rgb(56, 65, 72) 100%);
    width: 24rem;
    height: 16rem;
    transition: 0.3s;
    animation: morph 5s linear infinite;
    filter: blur(2px);
    opacity: 0.6;
    rotate: 31deg;
}

@keyframes morph {
    0%,
    100% {
        border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    }
    34% {
        border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }
    67% {
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    }
}

.GetInTouch:hover .hoverEffect div {
    width: 8rem;
    height: 8rem;
}

@keyframes effect {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.button {
    position: relative;
    overflow: hidden;
    width: 11rem;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #27374D;
    background-size: 400%;
    color: #fff;
    border: none;
    z-index: 11;
}

.button:hover::before {
    transform: scaleX(1);
}

.button-content {
    position: relative;
    z-index: 1;
}

.button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient( 82.3deg, rgba(82, 109, 130, 1) 10.8%, rgba(157, 178, 191, 1) 94.3%);
    transition: all 0.475s;
}

.test {
    background-color: #0072b1;
    width: 100%;
    height: 100vh;
}

.test2 {
    background-color: #b19600;
    width: 100%;
    height: 200vh;
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 20%;
    /* box-shadow: 0 90px 0px 0px #27374D; */
}

.parallax h1 {
    position: absolute;
    color: #DDE6ED;
    font-size: 70px;
    font-family: "poppins", sans-serif;
}

.parallax img {
    position: absolute;
    width: 100%;
    pointer-events: none;
}

.about {
    background-color: #27374D;
    padding: 30% 10% 0 10%;
    text-align: start;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    z-index: 9999999999999;
}

.about h1 {
    text-align: center;
    font-size: clamp(0.5rem, 5vw, 2rem);
}

.about .endofabout {
    padding: 5% 0 10% 0 !important;
    font-size: clamp(0.5rem, 5vw, 2rem);
}

.Sec3Part2 {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.Sec3Part2 div {
    padding-bottom: 2%;
    width: 100%;
    width: 29%;
}

.Sec3Part2 h2 {
    text-align: center;
    border-top: 5px solid #526D82;
    padding-top: 3%;
    font-size: 3rem;
    color: #9DB2BF;
}

.Sec3Part2 p {
    font-size: 1.1rem;
}

.Sec3Part2 img {
    width: 100%;
}

.projects {
    padding-top: 3%;
}

.projects .Projecttext {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: grid;
    place-items: center;
}

.projects img {
    width: 100%;
    padding-bottom: 3%;
}

.project {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 6% 10% 6% 10%;
}

.article-wrapper {
    width: 30%;
    -webkit-transition: 0.15s all ease-in-out;
    transition: 0.15s all ease-in-out;
    border-radius: 10px;
    padding: 15px;
    margin-top: 30px;
    border: 4px solid transparent;
    cursor: pointer;
    background-color: white;
}

.article-wrapper:hover {
    -webkit-box-shadow: 10px 10px 0 #27374D, 20px 20px 0 #526D82;
    box-shadow: 10px 10px 0 #27374D, 20px 20px 0 #526D82;
    border-color: #9DB2BF;
    -webkit-transform: translate(-20px, -20px);
    -ms-transform: translate(-20px, -20px);
    transform: translate(-20px, -20px);
}

.article-wrapper:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

.types {
    gap: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: flex-start;
}

.rounded-lg {
    /* class tailwind */
    border-radius: 10px;
}

.article-wrapper:hover .project-hover {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: #a6c2f0;
}

.project-info {
    padding-top: 20px;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
}

.project-title {
    font-size: 1.5rem;
    margin: 0;
    font-weight: 600;
    /* depend de la font */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: black;
}

.flex-pr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.project-type {
    background: #b2b2fd;
    color: #1a41cd;
    font-weight: bold;
    padding: 0.3em 0.7em;
    border-radius: 15px;
    font-size: 12px;
    letter-spacing: -0.6px
}

.project-hover {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 9px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.contactMe {
    font-family: "poppins", sans-serif;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6% 10% 0% 10%;
}

.contactMe h2 {
    font-size: 1.5rem;
}

.hoverEffect4 {
    position: absolute;
    top: -19%;
    left: -5%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.hoverEffect4 div {
    background: rgb(39, 55, 77);
    background: linear-gradient(90deg, rgb(25, 25, 210) 0%, rgba(82, 109, 130, 1) 49%, rgba(157, 178, 191, 1) 100%);
    border-top-left-radius: 100px 400px;
    border-top-right-radius: 200px 300px;
    border-bottom-right-radius: 300px 200px;
    border-bottom-left-radius: 700px 300px;
    width: 10rem;
    height: 13rem;
    transition: 0.4s;
    filter: blur(2px);
    rotate: -93deg;
    animation: morph 8s linear infinite;
    opacity: 0.6;
}

.hoverEffect5 {
    position: absolute;
    bottom: -9%;
    right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.hoverEffect5 div {
    background: rgb(39, 55, 77);
    background: linear-gradient(90deg, rgb(73, 121, 211) 0%, rgba(82, 109, 130, 1) 49%, rgba(157, 178, 191, 1) 100%);
    border-top-left-radius: 100px 400px;
    border-top-right-radius: 200px 300px;
    border-bottom-right-radius: 300px 200px;
    border-bottom-left-radius: 700px 300px;
    width: 15rem;
    height: 17rem;
    transition: 0.4s;
    filter: blur(2px);
    rotate: -93deg;
    animation: morph 8s linear infinite;
    opacity: 0.5;
}

.form h2 {
    text-align: center;
}

.form {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    width: 92%;
    background-color: white;
    padding: 60px;
    border-radius: 10px;
}

.form .title {
    color: royalblue;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.form input {
    outline: 0;
    border: 1px solid rgb(219, 213, 213);
    padding: 8px 14px;
    border-radius: 8px;
    width: 100%;
    height: 30px;
}

.form textarea {
    border-radius: 8px;
    height: 100px;
    width: 100%;
    resize: none;
    outline: 0;
    padding: 8px 14px;
    border: 1px solid rgb(219, 213, 213);
}

.form button {
    margin-top: 40px;
    align-self: center;
}


/*
#27374D rgb(39, 55, 77)
#526D82 rgb(82, 109, 130)
#9DB2BF rgb(157, 178, 191)
#DDE6ED rgb(221, 230, 237)
 */

footer {
    display: grid;
    grid-template-rows: 1fr 10rem auto;
    grid-template-areas: "main" "." "footer";
    overflow-x: hidden;
    height: 100%;
    font-family: "Open Sans", sans-serif;
}

.footer {
    z-index: 1;
    --footer-background: #27374D;
    display: grid;
    position: relative;
    grid-area: footer;
    height: 100%;
}

.footer .bubbles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1rem;
    background: var(--footer-background);
    filter: url("#blob");
}

.footer .bubbles .bubble {
    position: absolute;
    left: var(--position, 50%);
    background: var(--footer-background);
    border-radius: 100%;
    -webkit-animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
    animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
    transform: translate(-50%, 100%);
}

.footer .content {
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 4rem;
    background: var(--footer-background);
}

.footer .content a,
.footer .content h4,
.footer .content p {
    color: #F5F7FA;
    text-decoration: none;
}

.footer .content h5 {
    color: #9DB2BF;
}

.footer .content b {
    color: white;
}

.footer .content p {
    margin: 0;
    font-size: 0.75rem;
}

.footer .content>div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer .content>div>div {
    margin: 0.25rem 0;
}

.footer .content>div>div>* {
    margin-right: 0.5rem;
}

.footer .content>div .image {
    align-self: center;
    width: 100%;
    height: 100%;
    margin: 0.25rem 0;
    background-size: cover;
    background-position: center;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 0%;
    gap: 2%;
}


/* for all social containers*/

.socialContainer {
    width: 52px;
    height: 52px;
    background-color: #526D82;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
}


/* instagram*/

.containerOne:hover {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    transition-duration: .3s;
}


/* twitter*/

.containerTwo:hover {
    background-color: #4267B2;
    transition-duration: .3s;
}


/* linkdin*/

.containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
}


/* Whatsapp*/

.containerFour:hover {
    background: linear-gradient(45deg, #adf36c, #1EBEA5, #00E676);
    transition-duration: .3s;
}

.containerFive:hover {
    background: linear-gradient(45deg, #27374D, #526D82, #DDE6ED);
    transition-duration: .3s;
}

.socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
}

.socialSvg {
    width: 17px;
}

.socialSvg path {
    fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes bubble-size {
    0%,
    75% {
        width: var(--size, 4rem);
        height: var(--size, 4rem);
    }
    100% {
        width: 0rem;
        height: 0rem;
    }
}

@keyframes bubble-size {
    0%,
    75% {
        width: var(--size, 4rem);
        height: var(--size, 4rem);
    }
    100% {
        width: 0rem;
        height: 0rem;
    }
}

@-webkit-keyframes bubble-move {
    0% {
        bottom: -4rem;
    }
    100% {
        bottom: var(--distance, 10rem);
    }
}

@keyframes bubble-move {
    0% {
        bottom: -4rem;
    }
    100% {
        bottom: var(--distance, 10rem);
    }
}

@media screen and (max-width: 1200px) {
    .navbar ul li {
        margin: 0 1.4rem;
    }
    .navbar .logo {
        font-size: 1.5rem;
        padding: 0 2rem;
    }
    .navbar .logo img {
        width: 35px;
    }
    .navbar ul {
        justify-content: end;
        padding: 0 8% 0 0;
    }
    .navbar div {
        padding-left: 3%;
        font-size: 1rem;
    }
    .navbar b {
        font-size: 2rem;
    }
    .home {
        padding: 6.6em 3em 3.2em;
    }
    .topline {
        font-size: 1rem;
    }
    .home .cols h1 {
        font-size: 2em;
    }
    .home .cols p {
        font-size: 0.8rem;
    }
    .home .cols .btns {
        padding: 20px 0 0 0;
    }
    .home .cols1 {
        padding: 21% 14% 0 0;
    }
    .hoverEffect1 {
        top: 40%;
        left: 25%;
    }
    .hoverEffect1 div {
        width: calc(14rem - 5rem);
        height: calc(10rem - 5rem);
        opacity: 0.5;
    }
    .hoverEffect2 {
        top: 8%;
        left: 9%;
    }
    .hoverEffect2 div {
        width: calc(10rem - 5rem);
        height: calc(13rem - 5rem);
        opacity: 0.5;
    }
    .GetInTouch1 {
        font-size: 0.8rem!important;
        padding: 15px 15px;
    }
    .hoverEffect3 {
        top: 8%;
        left: 30%;
    }
    .hoverEffect3 div {
        width: calc(24rem - 7rem);
        height: calc(16rem - 7rem);
        opacity: 0.5;
    }
    .button {
        position: relative;
        overflow: hidden;
        font-size: 0.8rem!important;
        width: 9rem;
        padding: 0 1rem;
        border-radius: 1.5rem;
        background: #27374D;
        background-size: 400%;
        color: #fff;
        border: none;
    }
}

@media screen and (max-width: 768px) {
    .parallax {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding-top: 20%;
        /* box-shadow: 0 90px 0px 0px #27374D; */
    }
    .parallax h1 {
        position: absolute;
        color: #DDE6ED;
        font-size: 1.4rem;
        font-family: "poppins", sans-serif;
        padding-top: 10%;
    }
    .parallax img {
        position: absolute;
        width: 100%;
        pointer-events: none;
    }
    .about {
        background-color: #27374D;
        padding: 30% 10% 0 10%;
        text-align: start;
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        z-index: 9999999999999;
    }
    .about h1 {
        text-align: center;
        font-size: clamp(0.5rem, 5vw, 1.3rem);
    }
    .about .endofabout {
        padding: 3% 0 10% 0 !important;
        font-size: clamp(0.5rem, 5vw, 1.3rem);
    }
    .Sec3Part2 {
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
    }
    .Sec3Part2 div {
        width: 30%;
    }
    .Sec3Part2 h2 {
        text-align: center;
        border-top: 5px solid #526D82;
        padding-top: 15px;
        font-size: 2.4rem;
        color: #9DB2BF;
    }
    .Sec3Part2 p {
        font-size: clamp(0.5rem, 5vw, 1rem);
    }
}

@media only screen and (max-width: 890px) {
    .navbar {
        display: flex;
        align-self: center;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        padding: 0em 1em;
    }
    .navbar .logo {
        padding: 1em 0 0 0;
        margin-bottom: 1em;
        text-align: center;
    }
    .navbar img {
        width: 15%;
    }
    .menu-icon {
        padding: 0 10%;
        display: block;
    }
    .Navlist {
        display: none;
    }
    .navbar ul {
        flex-direction: column;
        align-items: center;
    }
    .navbar ul li {
        margin: 0.5em 0;
    }
    #menu.show {
        display: block;
        padding: 3% 10% 3%;
    }
    .logo.hide {
        display: none;
    }
}

@media screen and (max-width: 653px) {
    .home {
        width: 100%;
        flex-direction: column;
        padding: 6.6em 0em 3.2em;
    }
    .topline {
        font-size: 1rem;
    }
    .home .cols0 {
        width: 90%;
        padding: 5em;
    }
    .home .cols h1 {
        font-size: 2em;
    }
    .home .cols p {
        font-size: 0.8rem;
    }
    .home .cols .btns {
        padding: 20px 0 0 0;
    }
    .home .cols1 {
        width: 60%;
        padding: 36% 14% 3%;
    }
    .hoverEffect1 {
        top: 40%;
        right: 2%;
    }
    .hoverEffect1 div {
        width: calc(14rem - 5rem);
        height: calc(10rem - 5rem);
        opacity: 0.4;
    }
    .hoverEffect2 {
        top: 28%;
        left: 9%;
    }
    .hoverEffect2 div {
        width: calc(10rem - 5rem);
        height: calc(13rem - 5rem);
        opacity: 0.4;
    }
    .GetInTouch1 {
        font-size: 0.8rem!important;
        padding: 15px 30px;
        width: 100%;
    }
    .hoverEffect3 {
        top: 10%;
        left: 24%;
    }
    .hoverEffect3 div {
        width: calc(24rem - 7rem);
        height: calc(16rem - 7rem);
        opacity: 0.4;
    }
    .btns {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }
    .button {
        position: relative;
        overflow: hidden;
        font-size: 0.8rem!important;
        width: 8rem;
        height: 3rem;
        padding: 0 1rem;
        border-radius: 1.5rem;
        background: #27374D;
        background-size: 400%;
        color: #fff;
        border: none;
    }
    .blob {
        bottom: -41.2%;
        left: 17.8%;
    }
    .layers {
        top: -45.2%;
        left: 31.8%;
    }
    .layers1 {
        bottom: 111.4%;
        left: 45.8%;
    }
    .layers2 {
        bottom: 7.4%;
        left: 77.6%;
    }
    .layers3 {
        bottom: 56.4%;
        left: 17.4%;
    }
    .layers4 {
        bottom: 100.4%;
        left: 26.4%;
    }
    .layers5 {
        bottom: 98.4%;
        left: 65.5%;
    }
    .layers6 {
        bottom: 54.4%;
        left: 77.6%;
    }
    .layers7 {
        bottom: 10.4%;
        left: 18.2%;
    }
    .parallax {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding-top: 20%;
        /* box-shadow: 0 90px 0px 0px #27374D; */
    }
    .parallax h1 {
        position: absolute;
        color: #DDE6ED;
        font-size: 1.4rem;
        font-family: "poppins", sans-serif;
        padding-top: 10%;
    }
    .parallax img {
        position: absolute;
        width: 100%;
        pointer-events: none;
    }
    .about {
        background-color: #27374D;
        padding: 30% 10% 0 10%;
        text-align: start;
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        z-index: 9999999999999;
    }
    .about h1 {
        text-align: center;
        font-size: clamp(0.5rem, 5vw, 1.3rem);
    }
    .about .endofabout {
        padding: 3% 0 10% 0 !important;
        font-size: clamp(0.5rem, 5vw, 1.3rem);
    }
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        display: block;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 5%;
    }
    /* Position the "next button" to the right */
    .next {
        right: 0;
    }
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
    .active,
    .dot:hover {
        background-color: #3d3d3d;
    }
    /* Fading animation */
    .fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }
    @keyframes fade {
        from {
            opacity: .4
        }
        to {
            opacity: 1
        }
    }
    /* On smaller screens, decrease text size */
    .Sec3Part2 {
        margin: auto;
        position: relative;
    }
    .Sec3Part2 div {
        display: none;
        padding-bottom: 26%;
        width: 100%;
    }
    .Sec3Part2 h2 {
        text-align: center;
        border-top: 5px solid #526D82;
        padding-top: 15px;
        font-size: clamp(0.5rem, 5vw, 2.5rem);
        color: #9DB2BF;
    }
    .Sec3Part2 p {
        font-size: clamp(0.5rem, 5vw, 1.2rem);
        height: 120px;
    }
    .projects .Projecttext {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        display: grid;
        place-items: center;
    }
    .projects .Projecttext img {
        width: 50%;
    }
    .project-title {
        font-size: 1.2rem;
    }
    .contactMe h2 {
        font-size: 1rem;
    }
    .hoverEffect4 {
        position: absolute;
        top: -8%;
        left: -4%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
    }
    .hoverEffect4 div {
        background: rgb(39, 55, 77);
        background: linear-gradient(90deg, rgb(25, 25, 210) 0%, rgba(82, 109, 130, 1) 49%, rgba(157, 178, 191, 1) 100%);
        border-top-left-radius: 100px 400px;
        border-top-right-radius: 200px 300px;
        border-bottom-right-radius: 300px 200px;
        border-bottom-left-radius: 700px 300px;
        width: 8rem;
        height: 11rem;
        transition: 0.4s;
        filter: blur(2px);
        rotate: -93deg;
        animation: morph 8s linear infinite;
        opacity: 0.6;
    }
    .hoverEffect5 {
        position: absolute;
        bottom: -9%;
        right: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
    }
    .hoverEffect5 div {
        background: rgb(39, 55, 77);
        background: linear-gradient(90deg, rgb(73, 121, 211) 0%, rgba(82, 109, 130, 1) 49%, rgba(157, 178, 191, 1) 100%);
        border-top-left-radius: 100px 400px;
        border-top-right-radius: 200px 300px;
        border-bottom-right-radius: 300px 200px;
        border-bottom-left-radius: 700px 300px;
        width: 11rem;
        height: 14rem;
        transition: 0.4s;
        filter: blur(2px);
        rotate: -93deg;
        animation: morph 8s linear infinite;
        opacity: 0.5;
    }
}

@media screen and (max-width: 796px) {
    .project {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        padding: 6% 10% 6% 10%;
    }
    .article-wrapper {
        width: 60%;
        margin-bottom: 5%;
    }
    .contactMe h2 {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 386px) {
    .hoverEffect3 {
        top: 10%;
        left: 13%;
    }
    .hoverEffect3 div {
        width: calc(24rem - 9rem);
        height: calc(16rem - 9rem);
        opacity: 0.4;
    }
    .navbar {
        display: flex;
        align-self: center;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        width: 90%;
    }
    .navbar .logo {
        padding: 1em 0 0 0;
        margin-bottom: 1em;
        text-align: center;
        font-size: 1.1rem;
    }
    .navbar img {
        width: 11%;
    }
    .menu-icon {
        padding: 0 10%;
        display: block;
    }
    .Navlist {
        display: none;
    }
    .navbar ul {
        flex-direction: column;
        align-items: center;
    }
    .navbar ul li {
        margin: 0.5em 0;
    }
    #menu.show {
        display: block;
        padding: 3% 10% 3%;
    }
    .contactMe h2 {
        font-size: 0.9rem;
    }
    .about .endofabout {
        padding: 3% 0 10% 0 !important;
        font-size: 1.2rem;
    }
}